.clicktxt {
    color:#ffffff;
    background-color: #4169e1;
    padding:15px;
    border-radius: 10px;
    }
    
    .switchdsp input {
    display: none;
    }
    
    .switchdsp .dsp {
    padding: 0px 10px 0px 10px;
    height: 0;
    overflow: hidden;
    transition: 0.2s;
    opacity: 0;
    }
    
    .switchdsp input:checked ~ .dsp {
    padding: 15px 25px 0px 25px;
    height: auto;
    opacity: 1;
    }